.container-fluid {
  background-color: transparent;
  background-color: #252525; 
  padding-top: 30px;
  padding-bottom: 20px;
  height: 100vw;
}

.container-fluid > .row {
  justify-content: center;
}

.container-lg {
  border-radius: 2px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.current-tasks-headers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
h1 {color: gainsboro;}


.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}