<div class='col-lg-6'>
  <h1>Add a task</h1>
  <form [formGroup]="taskForm" (ngSubmit)="onSubmit();" >
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Enter title" formControlName='title'>
    </div>
    <div class="form-group">
      <input type="textarea" class="form-control" placeholder="Description" formControlName='description'>
    </div>
    <button type="submit" [disabled]="taskForm.pristine || taskForm.invalid" class="btn btn-primary">Submit</button>
  </form>
</div>

