
$mine-shaft: #252525;
.task-card {
  background-color: $mine-shaft;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 2px;
  padding: 10px;
}
@media screen and (max-width: 500px) {
  .task-card {
    display: block;
  }
}
p {
  color: gainsboro;
  width: 200px;
}
